{% extends "base.html" %}

{% block title %} {{ super() }} - Experience{% endblock %}

{% block content %}
    <body class="text-center flex-column mh-100 mw-100" style="background-color: #f0ece2;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Experience</h1>
            <p class="lead p-3">I will be displaying my experience here!</p>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Company 1</th>
                    <td>Hail-shot tackle black jack crimp bilge warp plunder weigh anchor Barbary Coast dance the hempen jig execution dock Privateer. </td>
                    <td>02-03-2020</td>
                </tr>
                <tr>
                    <th scope="row">Company 2</th>
                    <td>Black spot loot hardtack chandler capstan draft keel squiffy rum barkadeer landlubber or just lubber fire in the hole. Splice the main brace Blimey Pieces of Eight yardarm parrel Sea Legs piracy coffer pillage ahoy careen Cat o'nine tails.</td>
                    <td>02-03-2020</td>
                </tr>
                <tr>
                    <th scope="row">Company 3</th>
                    <td>Snow Jolly Roger lee hempen halter blow the man down splice the main brace holystone reef gabion clap of thunder run a shot across the bow keelhaul. </td>
                    <td>02-03-2020</td>
                </tr>
                <tr>
                    <th scope="row">Company 4</th>
                    <td>Fore pink ye barkadeer six pounders yard dead men tell no tales case shot gun lanyard keel booty. Flogging fluke cable rum Barbary Coast Nelsons folly port hempen halter fore reef bilge water aye.</td>
                    <td>02-03-2020</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>


    </body>
{% endblock %}

