{% extends "base.html" %}

{% block title %} {{ super() }} - Freelancing{% endblock %}

{% block content %}
    <body class="text-center" style="background-color: #f0ece2;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Freelancing</h1>
        <p class="lead p-3">I will be displaying some of my work as a freelancer here!</p>
        <p class="lead">

        </p>
    </main>
    </div>


    </body>
{% endblock %}

